@mixin symbolzs($font-face) {

  @font-face {
      font-family: 'Symbols-Regular';
      src: url("#{$font-face}") format('truetype');
      // src: url('../fonts/Symbols-Regular.eot');
      // src: url('../fonts/Symbols-Regular.eot?#iefix') format('embedded-opentype'),
      //      url('../fonts/Symbols-Regular.woff') format('woff'),
      //      url('../fonts/Symbols-Regular.ttf') format('truetype'),
      //      url('../fonts/Symbols-Regular.svg#Symbols-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

  .symbolz {
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    font-family: "Symbolz-Regular";
    line-height: normal;
    vertical-align: baseline;
    display: inline-block;
    position: relative;
    width: auto !important;
    height: auto !important;
    background-image: none !important;

    > label {
      position: absolute;
      right: -99999em;
    }
  }

  .symbolz-large {
    @extend .symbolz;
    font-size: 32px;
    font-weight: bold;
  }

// [class*=" symbolz-"],
//  [class^="symbolz-"] {
//   font-size: 16px;
//   font-style: normal;
//   text-decoration: none;
//   font-weight: normal;
//   font-family: 'Symbols-Regular';
//   line-height: normal;
//   vertical-align: baseline;
//   display: inline-block;
//   position: relative;
//   width: auto !important;
//   height: auto !important;
//   background-image: none !important;

//   label {
//     position: absolute;
//     right: -9999em;
//   }
// }
  

  .symbolz-document,
  .symbolz-f700, {
    &::before {
      content: "\F700";
    }
  }

  .symbolz-lock,
  .symbolz-f701, {
    &::before {
      content: "\F701";
    }
  }
  .symbolz-calendar,
  .symbolz-f702, {
    &::before {
      content: "\F702";
    }
  }
  .symbolz-grab,
  .symbolz-f703, {
    &::before {
      content: "\F703";
    }
  }

  .symbolz-window,
  .symbolz-f704, {
    &::before {
      content: "\F704";
    }
  }

  .symbolz-carat,
  .symbolz-f705, {
    &::before {
      content: "\F705";
    }
  }

  .symbolz-magnifying-glass,
  .symbolz-f706, {
    &::before {
      content: "\F706";
    }
  }
  .symbolz-server,
  .symbolz-f707, {
    &::before {
      content: "\F707";
    }
  }
  .symbolz-close,
  .symbolz-times, {
    &::before {
      font-family: Helvetica, Arial;
      content: "\00d7";
      font-weight: 900;
      font-size: 1.5em;
    }
  }
  .symbolz-check,
  .symbolz-f710, {
    &::before {
      content: "\f710";
    }
  }
  .symbolz-gear,
  .symbolz-f717, {
    &::before {
      content: "\f717";
    }
  }
  .symbolz-expand-collapse,
  .symbolz-f701, {
    &::before {
      content: "\f701";
    }
  }
  .symbolz-info,
  .symbolz-f718, {
    &::before {
      content: "\f718";
    }
  }
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}


