// Transition
@mixin transition ($properties) {
-webkit-transition: $properties;
   -moz-transition: $properties;
     -o-transition: $properties;
        transition: $properties;
}

// Box Sizing
@mixin box-sizing($box-sizing) {
  * {
	-webkit-box-sizing: $box-sizing;
		 -moz-box-sizing: $box-sizing;
					box-sizing: $box-sizing;
  }
}

@mixin border-radius($border-radius: 0) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
          border-radius: $border-radius;
}

@mixin high-light($base-color, $hover-color) {
  color: $base-color;
  &:hover {
    color: $hover-color;
  }
}

// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
}

.float-left { float: left; }

.float-right { float: right; }

.cursor-move:hover {
  cursor: move;
}

.cursor-pointer:hover {
  cursor: pointer;
}

@mixin font-face($font-family, $font-url-ttf, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: quote($font-family);
    src: url("#{$font-url-ttf}") format('truetype');
    // src: url('../fonts/Symbols-Regular.eot');
    // src: url('../fonts/Symbols-Regular.eot?#iefix') format('embedded-opentype'),
    //      url('../fonts/Symbols-Regular.woff') format('woff'),
    //      url('../fonts/Symbols-Regular.ttf') format('truetype'),
    //      url('../fonts/Symbols-Regular.svg#Symbols-Regular') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@mixin icons($font-face) {

  @font-face {
      font-family: 'Symbols-Regular';
      src: url("#{$font-face}") format('truetype');
      // src: url('../fonts/Symbols-Regular.eot');
      // src: url('../fonts/Symbols-Regular.eot?#iefix') format('embedded-opentype'),
      //      url('../fonts/Symbols-Regular.woff') format('woff'),
      //      url('../fonts/Symbols-Regular.ttf') format('truetype'),
      //      url('../fonts/Symbols-Regular.svg#Symbols-Regular') format('svg');
      font-weight: normal;
      font-style: normal;
  }

[class*=" icon-"],
 [class^="icon-"] {
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-family: 'Symbols-Regular';
  line-height: normal;
  vertical-align: baseline;
  display: inline-block;
  position: relative;
  width: auto !important;
  height: auto !important;
  background-image: none !important;

  label {
    position: absolute;
    right: -9999em;
  }
}
  

  .icon-document,
  .icon-f700, {
    &::before {
      content: "\F700";
    }
  }

  .icon-lock,
  .icon-f701, {
    &::before {
      content: "\F701";
    }
  }
  .icon-calendar,
  .icon-f702, {
    &::before {
      content: "\F702";
    }
  }
  .icon-grab,
  .icon-f703, {
    &::before {
      content: "\F703";
    }
  }

  .icon-window,
  .icon-f704, {
    &::before {
      content: "\F704";
    }
  }

  .icon-carat,
  .icon-f705, {
    &::before {
      content: "\F705";
    }
  }

  .icon-magnifying-glass,
  .icon-f706, {
    &::before {
      content: "\F706";
    }
  }
  .icon-server,
  .icon-f707, {
    &::before {
      content: "\F707";
    }
  }
  .icon-close,
  .icon-times, {
    &::before {
      font-family: Helvetica, Arial;
      content: "\00d7";
      font-weight: 900;
      font-size: 1.5em;
    }
  }
  .icon-check,
  .icon-f710, {
    &::before {
      content: "\f710";
    }
  }
  .icon-gear,
  .icon-f717, {
    &::before {
      content: "\f717";
    }
  }
  .icon-expand-collapse,
  .icon-f701, {
    &::before {
      content: "\f701";
    }
  }
  .icon-info,
  .icon-f718, {
    &::before {
      content: "\f718";
    }
  }
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}


